In [30]:
import pandas as pd
import psycopg2
from psycopg2.extras import execute_values

In [19]:
df = pd.read_csv(r"C:\Users\ikhra\Downloads\penjualan_100.csv")

In [5]:
df.isnull().sum()

order_id          0
tanggal_order     0
produk            0
kategori          0
jumlah_terjual    0
harga_satuan      0
dtype: int64

In [15]:
print(df[df.isnull().any(axis=1)])

Empty DataFrame
Columns: [order_id, tanggal_order, produk, kategori, jumlah_terjual, harga_satuan]
Index: []

In [16]:
df

,order_id,tanggal_order,produk,kategori,jumlah_terjual,harga_satuan
0,1,2024-01-30,Deterjen Bubuk,Kebutuhan Rumah Tangga,17,18000
1,2,2024-11-13,Odol Pasta,Gigi & Mulut,12,4000
2,3,2024-11-28,Handuk,Kebutuhan Rumah Tangga,15,25000
3,4,2024-07-08,Pasta Gigi,Gigi & Mulut,17,4500
4,5,2025-09-17,Shampo Anak,Kebutuhan Pribadi,7,14000
...,...,...,...,...,...,...
95,96,2025-06-02,Pasta Gigi,Gigi & Mulut,5,4500
96,97,2024-11-22,Pasta Gigi,Gigi & Mulut,9,4500
97,98,2024-12-17,Sabun Mandi,Kebutuhan Rumah Tangga,22,5000
98,99,2024-01-03,Sabun Cuci Piring,Kebutuhan Rumah Tangga,13,7000
99,100,2025-10-30,Sabun Mandi,Kebutuhan Rumah Tangga,27,5000

In [22]:
df["Total_Penjualan"] = df["jumlah_terjual"] * df["harga_satuan"]

In [25]:
df.drop(columns=["Harga Baru"], inplace=True)

In [62]:
df

,order_id,tanggal_order,produk,kategori,jumlah_terjual,harga_satuan,Total_Penjualan
0,1,2024-01-30,Deterjen Bubuk,Kebutuhan Rumah Tangga,17,18000,306000
1,2,2024-11-13,Odol Pasta,Gigi & Mulut,12,4000,48000
2,3,2024-11-28,Handuk,Kebutuhan Rumah Tangga,15,25000,375000
3,4,2024-07-08,Pasta Gigi,Gigi & Mulut,17,4500,76500
4,5,2025-09-17,Shampo Anak,Kebutuhan Pribadi,7,14000,98000
...,...,...,...,...,...,...,...
95,96,2025-06-02,Pasta Gigi,Gigi & Mulut,5,4500,22500
96,97,2024-11-22,Pasta Gigi,Gigi & Mulut,9,4500,40500
97,98,2024-12-17,Sabun Mandi,Kebutuhan Rumah Tangga,22,5000,110000
98,99,2024-01-03,Sabun Cuci Piring,Kebutuhan Rumah Tangga,13,7000,91000
99,100,2025-10-30,Sabun Mandi,Kebutuhan Rumah Tangga,27,5000,135000

In [68]:
con = psycopg2.connect(
    host = 'localhost',
    database = 'project_1',
    user = 'ikhram_user',
    password = 'password123')

In [69]:
cur = con.cursor()

In [70]:
data_tuples = list(df.itertuples(index=False, name=None))

In [71]:
insert_query = """
INSERT INTO data_penjualan (order_id, tanggal_order, produk, kategori, jumlah_terjual, harga_satuan, Total_Penjualan)
VALUES %s
ON CONFLICT (order_id) DO NOTHING;
"""

In [73]:
execute_values(cur, insert_query, data_tuples)
con.commit()

In [74]:
cur.close()
con.close()

print("Data berhasil diimport ke PostgreSQL!")

Data berhasil diimport ke PostgreSQL!